<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iiitd.airzentest2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />



    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HealthRisks"
            android:label="@string/title_activity_health_risks"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.airzentest2.MainActivity" />
        </activity>
        <activity
            android:name=".Suggestions"
            android:label="@string/title_activity_suggestions"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.airzentest2.MainActivity" />
            >
        </activity>
        <activity
            android:name=".GasSpecific"
            android:label="@string/title_activity_gas_specific"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.airzentest2.MainActivity" />
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="iiitd.airzentest2.MainActivity" />
        </activity>
        <activity
            android:name=".network.CheckNetwork"
            android:label="@string/title_activity_check_network"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SignInActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.AirzenLogin"
            android:exported="true"
            />


    </application>

</manifest>